@model COMP1640_IdeaManagement.Models.AcademicYear

@{
    ViewData["Title"] = "Detail";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <div>
        <h4 class="font-weight-bold text-center mt-2">AcademicYear</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
               
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
                
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StartedDate)
                
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StartedDate)
                
            </dd>
            <dt class="col-sm-2">
               @Html.DisplayNameFor(model => model.EndedDate)
                
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EndedDate)
                
            </dd>
        </dl>
    </div>
    <div>
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a class="btn btn-light" asp-action="Index">Back to List</a>
    </div>
</body>
</html>
