@model COMP1640_IdeaManagement.Models.IdeaVote

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>IdeaVote</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idea.Content)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsLike)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsLike)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDislike)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDislike)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="UserId" />
        <input type="hidden" asp-for="IdeaId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</body>
</html>
