@model IEnumerable<COMP1640_IdeaManagement.Models.IdeaVote>

@{
    ViewData["Title"] = "IdeaVotes Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsLike)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDislike)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idea.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsLike)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDislike)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id= item.UserId, item.IdeaId }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
