@model IEnumerable<COMP1640_IdeaManagement.Models.Idea>

@{
    ViewData["Title"] = "Ideas Index";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    
    <p>
        <a asp-action="Create" class="btn btn-primary mt-3">Create New</a>
    </p>
    <table class="table border ">
        <thead>
            <tr>
                <th class="border-right">
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th class="border-right">
                    @Html.DisplayNameFor(model => model.Content)
                </th>
                <th class="border-right">
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </th>
                <th class="border-right">
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th class="border-right">
                    @Html.DisplayNameFor(model => model.User)
                </th>
                <th class="border-right">
                    @Html.DisplayNameFor(model => model.Mission)
                </th>
                <th class="border-right">
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="border-right">
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td class="border-right">
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td class="border-right">
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td class="border-right">
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td class="border-right">
                        @Html.DisplayFor(modelItem => item.User.Id)
                    </td>
                    <td class="border-right">
                        @Html.DisplayFor(modelItem => item.Mission.Name)
                    </td>
                    <td class="border-right">
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        <a class=" btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                        <a class="btn btn-secondary" asp-route-id="@item.Id"  asp-controller="Ideas" asp-action="Upload">File Upload</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a href="Ideas/Download" target="_blank" class="btn btn-success">Download</a> | 
    <a class="btn btn-light" asp-area="" asp-controller="Admins" asp-action="Index">Back to Admin</a>
</body>
</html>
