@model IEnumerable<COMP1640_IdeaManagement.Models.Mission>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <a asp-action="Create" class="btn btn-primary mt-3">Create New</a>
    </p>
    <table class="table border">
        <thead>
            <tr>
                <th class="border-right">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th class="border-right">
                    @Html.DisplayNameFor(model => model.OpenDate)
                </th>
                <th class="border-right">
                    @Html.DisplayNameFor(model => model.ClosureDate)
                </th>
                <th class="border-right">
                    @Html.DisplayNameFor(model => model.AcademicYear)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="border-right">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="border-right">
                        @Html.DisplayFor(modelItem => item.OpenDate)
                    </td>
                    <td class="border-right">
                        @Html.DisplayFor(modelItem => item.ClosureDate)
                    </td>
                    <td class="border-right">
                        @Html.DisplayFor(modelItem => item.AcademicYear.Id)
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-action="Edit " asp-route-id="@item.Id">Edit</a> |
                        <a class=" btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a class=" btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-light" asp-area="" asp-controller="Admins" asp-action="Index">Back to Admin</a>

</body>
</html>
